* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

main {
    display: flex;
    justify-content: center;
}

.qrCodeComponent {
    background-color: hsl(0, 0%, 100%);
    display: block;
    justify-content: space-around;
    border: 1px;
    height: 80vh;
    border-radius: 10px;
    margin: 50px;
}

.qrCodeComponent, main {
    display: inline-block;
}

.qrCode > img{
    border-radius: 10px;
    width: 95%;
    margin: 10px;
    height: auto;
    border: 1px;    
}

.qrCodeInfo {
    margin-left: 1rem;
    margin-right: 1rem;
}

h1 {
    font-size: 22px;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
}

p, a {
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%); 
}

@media only screen and (max-width: 375px) {
    body {
        width: 90%;
        height: auto;
        margin: 10px;
    }
}
